:root {
    --main-color: rgb(187, 12, 35);
    --bgdark-color: rgb(18, 23, 36);
    --bgbright-color: rgb(38, 61, 66);
    --max-width:1400px;
    --space-between:200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*border: 1px solid rgba(0, 0, 0, 0);*/
}

body {
    background-color: var(--bgdark-color);
    background-image: url("img/Website/Pattern.png");
    background-size: 200px;

    font-family:Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

img {
    max-width: var(--max-width);
}


/* Utility      _________________________________________________ */
.container {
    max-width: var(--max-width);
    margin: auto; /* ----- platziert container mittig*/
}

.head-image {
    position: absolute;

    mask-image: linear-gradient(black 70%, transparent);
}

.bg {
    background-color: var(--bgdark-color);
    z-index: -2;
    position: absolute;
    
    height: 2500px;
    width: var(--max-width);
}


/* Navigation   _________________________________________________ */
#main-nav {
    background: linear-gradient(to bottom, var(--main-color) 20%, rgba(0, 0, 0, 0));
    position: fixed;
    top: 0;
    z-index: 2;
    height: 120px;
    width: 100%;
}

#main-nav .container {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
}

#main-nav .title {
    font-family: "Zen Tokyo Zoo", system-ui;
    font-size: 40px;
    font-weight: 500px;
    align-self: end;
}

#main-nav .logo {
    width: 60px;
}

#main-nav ul {
    justify-self: end;
    display: flex;
    list-style: none;
}

#main-nav ul li {
    padding: 0 5px;
    margin: 0 20px;
    float: left;
    cursor: pointer;
    font-size: 20px;
}


/* Main Page    _________________________________________________ */
#mainpage {
    background-color: var(--bgdark-color);
    display: block;
    min-height: 100%;
}

#mainpage .head-text {
    position: relative;
    z-index: 1;
    padding-top: 600px;
}

#mainpage p {
    margin: 10px 0;
    font-size: 20px;
}

#mainpage h1 {
    margin-bottom: 100px;
    font-size: 40px;
    text-align: center;
}


#mainpage .service {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 200px;

    margin: var(--space-between) 40px;
    align-items: center;
}

#mainpage .service div {
    margin: 30px;
    padding: 50px;

    background-color: var(--main-color);

    text-align: center;
    font-size: 40px;
}


#mainpage .description {
    display: block;
    justify-content: center;

    margin: var(--space-between) 0;
}

#mainpage .description-ceo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 20px 200px;
}

#mainpage .description-ceo img {
    width: 230px;
    align-self: center;
}

#mainpage .description-ceo div {
    text-align: center;
    align-self: center;
}


#mainpage .awards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px;

    align-items: center;
    margin: var(--space-between) 0;
}

#mainpage .awards div {
    padding: 20px;

    background-color: var(--main-color);

    text-align: center;
    font-size: 20px;

}


/* Footer       _________________________________________________ */
#footer {
    z-index: 1;
    display: flex;
    text-align: center;

    background-image: url("img/Website/Dresden.png");
    background-size:var(--max-width);
}

#footer .container {
    display: flex;
    align-items: flex-end;
    height: 520px;
}

#footer .container div {
    margin: 15px 30px;
    color: var(--bgdark-color);
}