:root {
    --main-color: rgb(57, 199, 81);
    --bgdark-color: rgb(26, 39, 49);
    --bgbright-color: rgb(38, 61, 66);
    --max-width:1000px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*border: 1px solid black;*/
}

body {
    background-color: rgb(160, 160, 160);
    font-family: "Cutive Mono", monospace;
    color: rgb(12, 6, 24);
}


/* Utility      _________________________________________________ */
.container {
    max-width: var(--max-width);
    margin: auto; /* ----- platziert container mittig*/
}


/* Main Page    _________________________________________________ */
#mainpage {
    z-index: 1;
    display: block;
}

#mainpage .container {
    align-content: center;
}

#mainpage p {
    margin: 0 10%;
    margin-bottom: 20px;

    font-size: 17px;
    text-align: justify;
}

#mainpage .indent {
    margin-left: 20%;
}

#mainpage .img-inbetween {
    margin-bottom: 40px;
    margin-top: 60px;
}